.search-bar {
    width: 85%;

    input {
        padding: 8px;
        width: 100%;
        background-color: #232323;
        color: #555555;
        border: none;
        border-radius: 3px;
    }
}
